body{
    background-color: lightgray;
}
.title{
    font-size: 8vh;
    color: darkgreen;
}
.subtitle{
    font-size: 6vh;
    color: darkblue;
	margin-bottom: 0.5vh;
}
.contact{
    font-size: 4vh;
    color: black;
}

.link{
    font-size: 4vh;
}
.link:link {
    color: black;
}
.link:visited {
    color: black;
}
.link:hover {
    color: black;
}
.link:active {
    color: black;
}
